Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2020-10, with the labels that each got.

#269 nrf_security: Enable NRF5 entropy backend for softdevice entropy driver
  nrf_security/src/mbedtls/CMakeLists.txt
Labels: bug

#278 nrf_security: fix random number gen on nrf52833
  nrf_security/src/backend/nrf5x/entropy_nrf5x.c
Labels: bug

#284 doc: SoftDevice Controller: Add MSC
  softdevice_controller/README.rst
  softdevice_controller/doc/softdevice_controller.rst
Labels: doc-required

#286 bsdlib: version 0.8.0
  bsdlib/doc/CHANGELOG.rst
  bsdlib/include/nrf_errno.h
  bsdlib/include/nrf_socket.h
  bsdlib/lib/cortex-m33/hard-float/libbsd_nrf9160_xxaa.a
  bsdlib/lib/cortex-m33/soft-float/libbsd_nrf9160_xxaa.a
Labels: doc-required

#273 doc: Rework of nrf_security doc
  crypto/doc/nrf_cc310_mbedcrypto.rst
  crypto/doc/nrf_oberon.rst
  nrf_security/README.rst
  nrf_security/doc/adv_backend_config.rst
  nrf_security/doc/api.rst
  nrf_security/doc/backend_config.rst
  nrf_security/doc/backends.rst
  nrf_security/doc/configuration.rst
  nrf_security/doc/glue_layer.rst
  nrf_security/doc/mbed_tls_header.rst
  nrf_security/doc/prerequisites.rst
Labels: doc-required

#290 openthread: doc: describe there are multiple libraries for OpenThread
  openthread/README.rst
Labels: doc-required

#298 nrf_security: Disabling CMAC gluing
  nrf_security/Kconfig
  nrf_security/doc/api.rst
  nrf_security/doc/backend_config.rst
  nrf_security/src/mbedcrypto_glue/CMakeLists.txt
  nrf_security/src/mbedcrypto_glue/cc310/cc310_glue.cmake
  nrf_security/src/mbedcrypto_glue/oberon/oberon_glue.cmake
  nrf_security/src/mbedcrypto_glue/vanilla/vanilla_glue.cmake
Labels: bug, doc-required

#301 docs: small fix: add local toc to nrfxlib RST pages.
  bsdlib/doc/CHANGELOG.rst
  bsdlib/doc/api.rst
  bsdlib/doc/gnss_extension.rst
  bsdlib/doc/limitations.rst
  bsdlib/doc/pdn_extension.rst
  bsdlib/doc/ug_bsdlib_porting_os.rst
  crypto/doc/api.rst
  crypto/doc/nrf_cc310_bl.rst
  crypto/doc/nrf_cc310_mbedcrypto.rst
  crypto/doc/nrf_cc310_platform.rst
  crypto/doc/nrf_oberon.rst
  crypto/nrf_cc310_bl/CHANGELOG.rst
  crypto/nrf_cc310_mbedcrypto/CHANGELOG.rst
  crypto/nrf_cc310_platform/CHANGELOG.rst
  crypto/nrf_oberon/CHANGELOG.rst
  mpsl/CHANGELOG.rst
  mpsl/doc/api.rst
  mpsl/doc/fem.rst
  mpsl/doc/mpsl.rst
  mpsl/doc/timeslot.rst
  nfc/CHANGELOG.rst
  nfc/doc/integration_notes.rst
  nfc/doc/type_2_tag.rst
  nfc/doc/type_4_tag.rst
  nrf_rpc/doc/api.rst
  nrf_rpc/doc/architecture.rst
  nrf_rpc/doc/usage.rst
  nrf_security/doc/adv_backend_config.rst
  nrf_security/doc/api.rst
  nrf_security/doc/backend_config.rst
  nrf_security/doc/backends.rst
  nrf_security/doc/glue_layer.rst
  openthread/README.rst
  softdevice_controller/CHANGELOG.rst
  softdevice_controller/doc/api.rst
  softdevice_controller/doc/softdevice_controller.rst
  zboss/CHANGELOG.rst
Labels: doc-required

#305 doc: change zboss api doc link
  doc/links.txt
Labels: doc-required

#303 Update SoftDevice Controller
  softdevice_controller/CHANGELOG.rst
  softdevice_controller/lib/cortex-m33+nodsp/soft-float/libsoftdevice_controller_s140.a
  softdevice_controller/lib/cortex-m33+nodsp/soft-float/manifest.yaml
  softdevice_controller/lib/cortex-m4/hard-float/libsoftdevice_controller_s112.a
  softdevice_controller/lib/cortex-m4/hard-float/libsoftdevice_controller_s132.a
  softdevice_controller/lib/cortex-m4/hard-float/libsoftdevice_controller_s140.a
  softdevice_controller/lib/cortex-m4/hard-float/manifest.yaml
  softdevice_controller/lib/cortex-m4/soft-float/libsoftdevice_controller_s112.a
  softdevice_controller/lib/cortex-m4/soft-float/libsoftdevice_controller_s132.a
  softdevice_controller/lib/cortex-m4/soft-float/libsoftdevice_controller_s140.a
  softdevice_controller/lib/cortex-m4/soft-float/manifest.yaml
  softdevice_controller/lib/cortex-m4/softfp-float/libsoftdevice_controller_s112.a
  softdevice_controller/lib/cortex-m4/softfp-float/libsoftdevice_controller_s132.a
  softdevice_controller/lib/cortex-m4/softfp-float/libsoftdevice_controller_s140.a
  softdevice_controller/lib/cortex-m4/softfp-float/manifest.yaml
Labels: bug

#311 KRKNWK-7862: zboss: version v3_3_0_5+10_06_2020
  zboss/CHANGELOG.rst
  zboss/include/osif/build_info.h
  zboss/include/osif/libzboss_config.ed.h
  zboss/include/osif/libzboss_config.h
  zboss/include/osif/mac_platform.h
  zboss/include/osif/zb_macll.h
  zboss/include/osif/zb_revision_r22.h
  zboss/include/osif/zb_transceiver.h
  zboss/include/osif/zb_vendor.h
  zboss/include/zcl/zb_zcl_daily_schedule.h
  zboss/lib/cortex-m4/hard-float/libzboss.a
  zboss/lib/cortex-m4/hard-float/libzboss.ed.a
Labels: bug
