Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2024-03, with the labels that each got.

#1240 nrf_wifi: Fix issue SHEL-2551
  nrf_wifi/fw_if/umac_if/src/tx.c
Labels: bugfix

#1237 doc improvement: update missing toc
  nrf_802154/README.rst
  nrf_802154/doc/rd_including.rst
  nrf_modem/doc/delta_dfu.rst
  nrf_modem/doc/modem_trace.rst
  nrf_modem/doc/sockets/images/security_tags.svg
  nrf_modem/doc/sockets/images/security_tags2.svg
  nrf_modem/doc/sockets/pdn.rst
  nrf_modem/doc/sockets/rai.rst
  nrf_modem/doc/sockets/socket_options_func.rst
  nrf_modem/doc/sockets/tls_dtls.rst
Labels: doc-required

#1238 nrf_wi: Fix TX power issue
  nrf_wifi/fw_if/umac_if/src/default/fmac_api.c
  nrf_wifi/fw_if/umac_if/src/fmac_api_common.c
  nrf_wifi/fw_if/umac_if/src/radio_test/fmac_api.c
Labels: bugfix

#1246 nrf_wifi: Fix the receive address API to get proper BSSID
  nrf_wifi/fw_if/umac_if/src/fmac_util.c
  nrf_wifi/fw_if/umac_if/src/rx.c
Labels: bugfix

#1243 nrf_wifi: Update RPU patch to rev #5d9627b143a
  nrf_wifi/fw_bins/default/nrf70.bin
  nrf_wifi/fw_bins/radio_test/nrf70.bin
  nrf_wifi/fw_bins/scan_only/nrf70.bin
Labels: bugfix

#1252 doc: Update doc versions in nrfxlib for 2.6.0
  mpsl/CHANGELOG.rst
  nfc/CHANGELOG.rst
  nrf_fuel_gauge/CHANGELOG.rst
  softdevice_controller/CHANGELOG.rst
  softdevice_controller/doc/isochronous_channels.rst
Labels: doc-required

#1260 nrf_modem: release 2.6.1
  nrf_modem/doc/CHANGELOG.rst
  nrf_modem/lib/nRF9120/hard-float/libmodem.a
  nrf_modem/lib/nRF9120/hard-float/libmodem_log.a
  nrf_modem/lib/nRF9120/soft-float/libmodem.a
  nrf_modem/lib/nRF9120/soft-float/libmodem_log.a
  nrf_modem/lib/nRF9160/hard-float/libmodem.a
  nrf_modem/lib/nRF9160/hard-float/libmodem_log.a
  nrf_modem/lib/nRF9160/soft-float/libmodem.a
  nrf_modem/lib/nRF9160/soft-float/libmodem_log.a
Labels: doc-required, bugfix
