Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2024-06, with the labels that each got.

#1369 doc: update Infocenter links with Techdocs
  doc/links.txt
  nrf_802154/doc/CHANGELOG.rst
  openthread/README.rst
Labels: doc-required

#1357 nrf_modem: custom AT command and modem trace improvements
  nrf_modem/doc/CHANGELOG.rst
  nrf_modem/include/nrf_modem.h
  nrf_modem/include/nrf_modem_at.h
  nrf_modem/include/nrf_modem_dect_phy.h
  nrf_modem/include/nrf_modem_trace.h
  nrf_modem/lib/cellular/nrf9120/hard-float/libmodem.a
  nrf_modem/lib/cellular/nrf9120/hard-float/libmodem_log.a
  nrf_modem/lib/cellular/nrf9120/soft-float/libmodem.a
  nrf_modem/lib/cellular/nrf9120/soft-float/libmodem_log.a
  nrf_modem/lib/cellular/nrf9160/hard-float/libmodem.a
  nrf_modem/lib/cellular/nrf9160/hard-float/libmodem_log.a
  nrf_modem/lib/cellular/nrf9160/soft-float/libmodem.a
  nrf_modem/lib/cellular/nrf9160/soft-float/libmodem_log.a
  nrf_modem/lib/dect_phy/nrf9120/hard-float/libmodem.a
  nrf_modem/lib/dect_phy/nrf9120/hard-float/libmodem_log.a
  nrf_modem/lib/dect_phy/nrf9120/soft-float/libmodem.a
  nrf_modem/lib/dect_phy/nrf9120/soft-float/libmodem_log.a
Labels: doc-required

#1300 zboss: version v3.11.4.0+5.1.5
  zboss/CHANGELOG.rst
  zboss/production/include/ha/zb_ha_device_config.h
  zboss/production/include/osif/build_info.h
  zboss/production/include/osif/zb_osif_platform.h
  zboss/production/include/osif/zb_revision_r22.h
  zboss/production/include/zb_address.h
  zboss/production/include/zb_config.h
  zboss/production/include/zb_config_common.h
  zboss/production/include/zb_debug.h
  zboss/production/include/zb_mem_config_context.h
  zboss/production/include/zb_trace.h
  zboss/production/include/zb_types.h
  zboss/production/include/zboss_api.h
  zboss/production/include/zboss_api_af.h
  zboss/production/include/zboss_api_mm.h
  zboss/production/include/zboss_api_zcl.h
  zboss/production/include/zboss_api_zdo.h
  zboss/production/include/zcl/zb_zcl_color_control.h
  zboss/production/include/zcl/zb_zcl_common.h
  zboss/production/include/zcl/zb_zcl_config.h
  zboss/production/include/zcl/zb_zcl_ota_upgrade.h
  zboss/production/include/zcl/zb_zcl_wwah.h
  zboss/production/lib/cortex-m33/hard-float/libgppb.a
  zboss/production/lib/cortex-m33/hard-float/libncp-dev.a
  zboss/production/lib/cortex-m33/hard-float/libncp-dev.ed.a
  zboss/production/lib/cortex-m33/hard-float/libzboss.a
  zboss/production/lib/cortex-m33/hard-float/libzboss.ed.a
  zboss/production/lib/cortex-m4/hard-float/libgppb.a
  zboss/production/lib/cortex-m4/hard-float/libncp-dev.a
  zboss/production/lib/cortex-m4/hard-float/libncp-dev.ed.a
  zboss/production/lib/cortex-m4/hard-float/libzboss.a
  zboss/production/lib/cortex-m4/hard-float/libzboss.ed.a
  zboss/production/src/commissioning/legacy/zdo_commissioning_classic.c
  zboss/production/src/include/zb_bufpool.h
  zboss/production/src/include/zb_g_context.h
  zboss/production/src/include/zb_mac.h
  zboss/production/src/include/zb_nvram.h
  zboss/production/src/include/zb_nvram_globals.h
  zboss/production/src/include/zb_nwk.h
  zboss/production/src/include/zb_nwk_globals.h
  zboss/production/src/include/zb_nwk_mm.h
  zboss/production/src/include/zb_nwk_nib.h
  zboss/production/src/include/zb_secur.h
  zboss/production/src/include/zb_zdo_globals.h
  zboss/production/src/zcl/zcl_color_control_commands.c
  zboss/production/src/zcl/zcl_common.c
  zboss/production/src/zcl/zcl_main.c
  zboss/production/src/zcl/zcl_power_config_commands.c
  zboss/production/src/zcl/zcl_s_wwah.c
  zboss/production/trace/lib/cortex-m33/hard-float/libgppb.a
  zboss/production/trace/lib/cortex-m33/hard-float/libncp-dev.a
  zboss/production/trace/lib/cortex-m33/hard-float/libncp-dev.ed.a
  zboss/production/trace/lib/cortex-m33/hard-float/libzboss.a
  zboss/production/trace/lib/cortex-m33/hard-float/libzboss.ed.a
  zboss/production/trace/lib/cortex-m4/hard-float/libgppb.a
  zboss/production/trace/lib/cortex-m4/hard-float/libncp-dev.a
  zboss/production/trace/lib/cortex-m4/hard-float/libncp-dev.ed.a
  zboss/production/trace/lib/cortex-m4/hard-float/libzboss.a
  zboss/production/trace/lib/cortex-m4/hard-float/libzboss.ed.a
Labels: DNM, doc-required

#1378 nrf_modem: doc: add note about leading whitespace characters
  nrf_modem/doc/at_interface.rst
Labels: doc-required

#1382 nrf_wifi: Update RPU patch to rev#47df855c1b0
  nrf_wifi/fw_bins/default/nrf70.bin
  nrf_wifi/fw_bins/radio_test/nrf70.bin
  nrf_wifi/fw_bins/scan_only/nrf70.bin
  nrf_wifi/fw_bins/system_with_raw/nrf70.bin
  nrf_wifi/fw_if/umac_if/inc/fw/patch_info.h
Labels: bugfix

#1383 nrf_wifi: Update RPU patch to rev#ae883ebe30b
  nrf_wifi/fw_bins/default/nrf70.bin
  nrf_wifi/fw_bins/radio_test/nrf70.bin
  nrf_wifi/fw_bins/scan_only/nrf70.bin
  nrf_wifi/fw_bins/system_with_raw/nrf70.bin
  nrf_wifi/fw_if/umac_if/inc/fw/patch_info.h
Labels: bugfix

#1381 doc: Doc check and fixes for 2.7
  nrf_modem/include/nrf_modem_dect_phy.h
  nrf_rpc/doc/protocol_specification.rst
  softdevice_controller/CHANGELOG.rst
  softdevice_controller/doc/isochronous_channels.rst
  softdevice_controller/include/sdc_hci_vs.h
Labels: doc-required

#1387 doc: update changelogs for v2.7.0
  mpsl/CHANGELOG.rst
  nfc/CHANGELOG.rst
  nrf_802154/doc/CHANGELOG.rst
  nrf_modem/doc/CHANGELOG.rst
  softdevice_controller/CHANGELOG.rst
  zboss/CHANGELOG.rst
Labels: doc-required

#1398 nrf_modem: doc: add info about PDN down when NRF_SO_KEEPOPEN is used
  nrf_modem/doc/sockets/pdn.rst
Labels: doc-required
