Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2024-11, with the labels that each got.

#1551 cmake: nrfxlib_calculate_lib_path common lib for nRF54H20 and nRF54H20_ENGB_CPURAD
  common.cmake
Labels: bugfix, backport v2.8-branch

#1553 [Backport v2.8-branch] cmake: nrfxlib_calculate_lib_path common lib for nRF54H20 and nRF54H20_ENGB_CPURAD
  common.cmake
Labels: Backport

#1554 Update revision of nrf_802154
  nrf_802154/driver/src/nrf_802154_trx.c
Labels: bugfix, backport v2.8-branch

#1555 [Backport v2.8-branch] Update revision of nrf_802154
  nrf_802154/driver/src/nrf_802154_trx.c
Labels: Backport

#1560 openthread: fix whitelists for prebuild libraries
  openthread/cmake/crypto_config_cc3xx_whitelist.txt
  openthread/cmake/crypto_config_tfm_whitelist.txt
  openthread/cmake/extensions.cmake
Labels: bug, backport v2.8-branch

#1559 nrf_wifi: Update RPU patch to rev#38dfffbee12
  nrf_wifi/bin/zephyr/default/nrf70.bin
  nrf_wifi/bin/zephyr/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/zephyr/radio_test/nrf70.bin
  nrf_wifi/bin/zephyr/scan_only/nrf70.bin
  nrf_wifi/bin/zephyr/system_with_raw/nrf70.bin
Labels: manifest-pr-skip

#1563 nrf_wifi: Update RPU patch to rev#38dfffbee12
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: manifest-pr-skip, backport v2.8-branch

#1564 [Backport v2.8-branch] nrf_wifi: Update RPU patch to rev#38dfffbee12
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: Backport

#1567 doc: Update doc versions in nrfxlib for 2.8.0
  doc/links.txt
  mpsl/CHANGELOG.rst
  nrf_802154/doc/CHANGELOG.rst
  nrf_fuel_gauge/CHANGELOG.rst
  nrf_modem/doc/CHANGELOG.rst
  nrf_rpc/CHANGELOG.rst
  softdevice_controller/CHANGELOG.rst
Labels: doc-required, backport v2.8-branch

#1574 [Backport v2.8-branch] doc: Update doc versions in nrfxlib for 2.8.0
  doc/links.txt
  mpsl/CHANGELOG.rst
  nrf_802154/doc/CHANGELOG.rst
  nrf_fuel_gauge/CHANGELOG.rst
  nrf_modem/doc/CHANGELOG.rst
  nrf_rpc/CHANGELOG.rst
  softdevice_controller/CHANGELOG.rst
Labels: doc-required, Backport

#1579 doc: Minor updates to Modem library
  nrf_modem/doc/at_interface.rst
  nrf_modem/doc/gnss_interface.rst
Labels: doc-required

#1584 nrf_modem: update library
  nrf_modem/doc/CHANGELOG.rst
  nrf_modem/include/nrf_modem_dect_phy.h
  nrf_modem/lib/cellular/nrf9120/hard-float/libmodem.a
  nrf_modem/lib/cellular/nrf9120/hard-float/libmodem_log.a
  nrf_modem/lib/cellular/nrf9120/soft-float/libmodem.a
  nrf_modem/lib/cellular/nrf9120/soft-float/libmodem_log.a
  nrf_modem/lib/cellular/nrf9160/hard-float/libmodem.a
  nrf_modem/lib/cellular/nrf9160/hard-float/libmodem_log.a
  nrf_modem/lib/cellular/nrf9160/soft-float/libmodem.a
  nrf_modem/lib/cellular/nrf9160/soft-float/libmodem_log.a
  nrf_modem/lib/cellular/nrf9230/hard-float/libmodem.a
  nrf_modem/lib/cellular/nrf9230/hard-float/libmodem_log.a
  nrf_modem/lib/cellular/nrf9230/soft-float/libmodem.a
  nrf_modem/lib/cellular/nrf9230/soft-float/libmodem_log.a
  nrf_modem/lib/dect_phy/nrf9120/hard-float/libmodem.a
  nrf_modem/lib/dect_phy/nrf9120/hard-float/libmodem_log.a
  nrf_modem/lib/dect_phy/nrf9120/soft-float/libmodem.a
  nrf_modem/lib/dect_phy/nrf9120/soft-float/libmodem_log.a
Labels: doc-required

#1587 Update revision of nrf_802154
  nrf_802154/doc/CHANGELOG.rst
  nrf_802154/driver/src/nrf_802154_trx.c
  nrf_802154/sl/sl/lib/nrf52833/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf52833/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf52833/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf52840/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf52840/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf52840/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf5340_cpunet/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54h20_cpurad/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54h20_cpurad/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54h20_cpurad/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp_ns/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp_ns/softfp-float/libnrf-802154-sl.a
Labels: doc-required
