Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2024-10, with the labels that each got.

#1510 cmake: openthread: add tcplp library
  openthread/cmake/extensions.cmake
Labels: bugfix

#1522 doc: Updated Bluetooth Core Spec Link
  doc/links.txt
Labels: doc-required

#1526 SoftDevice Controller: Enable Power Class 1 Feature
  softdevice_controller/CHANGELOG.rst
  softdevice_controller/lib/cortex-m4/hard-float/libsoftdevice_controller_central.a
  softdevice_controller/lib/cortex-m4/hard-float/libsoftdevice_controller_multirole.a
  softdevice_controller/lib/cortex-m4/hard-float/libsoftdevice_controller_peripheral.a
  softdevice_controller/lib/cortex-m4/soft-float/libsoftdevice_controller_central.a
  softdevice_controller/lib/cortex-m4/soft-float/libsoftdevice_controller_multirole.a
  softdevice_controller/lib/cortex-m4/soft-float/libsoftdevice_controller_peripheral.a
  softdevice_controller/lib/cortex-m4/softfp-float/libsoftdevice_controller_central.a
  softdevice_controller/lib/cortex-m4/softfp-float/libsoftdevice_controller_multirole.a
  softdevice_controller/lib/cortex-m4/softfp-float/libsoftdevice_controller_peripheral.a
Labels: doc-required

#1527 SoftDevice Controller: Use correct NCS release tag
  softdevice_controller/CHANGELOG.rst
Labels: doc-required

#1525 nrf_wifi: Update FW blobs for Wi-Fi upmerge
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: backport v2.8-branch

#1541 Update SoftDevice Controller
  softdevice_controller/lib/cortex-m33+nodsp/soft-float/libsoftdevice_controller_multirole.a
  softdevice_controller/lib/cortex-m33+nodsp/soft-float/manifest.yaml
  softdevice_controller/lib/cortex-m4/hard-float/libsoftdevice_controller_central.a
  softdevice_controller/lib/cortex-m4/hard-float/libsoftdevice_controller_multirole.a
  softdevice_controller/lib/cortex-m4/hard-float/libsoftdevice_controller_peripheral.a
  softdevice_controller/lib/cortex-m4/hard-float/manifest.yaml
  softdevice_controller/lib/cortex-m4/soft-float/libsoftdevice_controller_central.a
  softdevice_controller/lib/cortex-m4/soft-float/libsoftdevice_controller_multirole.a
  softdevice_controller/lib/cortex-m4/soft-float/libsoftdevice_controller_peripheral.a
  softdevice_controller/lib/cortex-m4/soft-float/manifest.yaml
  softdevice_controller/lib/cortex-m4/softfp-float/libsoftdevice_controller_central.a
  softdevice_controller/lib/cortex-m4/softfp-float/libsoftdevice_controller_multirole.a
  softdevice_controller/lib/cortex-m4/softfp-float/libsoftdevice_controller_peripheral.a
  softdevice_controller/lib/cortex-m4/softfp-float/manifest.yaml
Labels: doc-required

#1542 [Backport v2.8-branch] nrf_wifi: Update FW blobs for Wi-Fi upmerge
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: Backport

#1528 mpsl: Enable on nRF54H20 EngB
  mpsl/Kconfig
Labels: backport v2.8-branch

#1546 [Backport v2.8-branch] mpsl: Enable on nRF54H20 EngB
  mpsl/Kconfig
Labels: Backport

#1548 nrf_rpc: fix error handling
  nrf_rpc/nrf_rpc.c
Labels: backport v2.8-branch

#1549 [Backport v2.8-branch] nrf_rpc: fix error handling
  nrf_rpc/nrf_rpc.c
Labels: Backport
