Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2024-12, with the labels that each got.

#1576 nrf_wifi: Update RPU patch to rev#8b918fb0a2d
  nrf_wifi/bin/zephyr/default/nrf70.bin
  nrf_wifi/bin/zephyr/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/zephyr/radio_test/nrf70.bin
  nrf_wifi/bin/zephyr/scan_only/nrf70.bin
  nrf_wifi/bin/zephyr/system_with_raw/nrf70.bin
Labels: manifest-pr-skip

#1601 nrf_wifi: Update RPU patch to rev#4ca272a9af0
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: manifest-pr-skip, backport v2.9-branch

#1606 [Backport v2.9-branch] nrf_wifi: Update RPU patch to rev#4ca272a9af0
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: Backport

#1612 zboss: version v3.11.6.0+5.1.7
  zboss/CHANGELOG.rst
  zboss/production/include/osif/build_info.h
  zboss/production/include/osif/zb_revision_r22.h
  zboss/production/include/zboss_api.h
  zboss/production/include/zboss_api_zdo.h
  zboss/production/include/zcl/zb_zcl_diagnostics.h
  zboss/production/lib/cortex-m33/hard-float/libgppb.a
  zboss/production/lib/cortex-m33/hard-float/libncp-dev.a
  zboss/production/lib/cortex-m33/hard-float/libncp-dev.ed.a
  zboss/production/lib/cortex-m33/hard-float/libzboss.a
  zboss/production/lib/cortex-m33/hard-float/libzboss.ed.a
  zboss/production/lib/cortex-m4/hard-float/libgppb.a
  zboss/production/lib/cortex-m4/hard-float/libncp-dev.a
  zboss/production/lib/cortex-m4/hard-float/libncp-dev.ed.a
  zboss/production/lib/cortex-m4/hard-float/libzboss.a
  zboss/production/lib/cortex-m4/hard-float/libzboss.ed.a
  zboss/production/src/commissioning/bdb/zdo_commissioning_bdb.c
  zboss/production/src/commissioning/legacy/zdo_commissioning_classic.c
  zboss/production/src/include/zb_g_context.h
  zboss/production/src/include/zb_nwk.h
  zboss/production/src/include/zb_nwk_nib.h
  zboss/production/src/include/zb_zdo.h
  zboss/production/src/zcl/zcl_thermostat_commands.c
  zboss/production/trace/lib/cortex-m33/hard-float/libgppb.a
  zboss/production/trace/lib/cortex-m33/hard-float/libncp-dev.a
  zboss/production/trace/lib/cortex-m33/hard-float/libncp-dev.ed.a
  zboss/production/trace/lib/cortex-m33/hard-float/libzboss.a
  zboss/production/trace/lib/cortex-m33/hard-float/libzboss.ed.a
  zboss/production/trace/lib/cortex-m4/hard-float/libgppb.a
  zboss/production/trace/lib/cortex-m4/hard-float/libncp-dev.a
  zboss/production/trace/lib/cortex-m4/hard-float/libncp-dev.ed.a
  zboss/production/trace/lib/cortex-m4/hard-float/libzboss.a
  zboss/production/trace/lib/cortex-m4/hard-float/libzboss.ed.a
Labels: doc-required, bugfix

#1616 zboss: version v3.11.6.0+5.1.7
  zboss/CHANGELOG.rst
  zboss/production/include/osif/build_info.h
  zboss/production/include/osif/zb_revision_r22.h
  zboss/production/include/zboss_api.h
  zboss/production/include/zboss_api_zdo.h
  zboss/production/include/zcl/zb_zcl_diagnostics.h
  zboss/production/lib/cortex-m33/hard-float/libgppb.a
  zboss/production/lib/cortex-m33/hard-float/libncp-dev.a
  zboss/production/lib/cortex-m33/hard-float/libncp-dev.ed.a
  zboss/production/lib/cortex-m33/hard-float/libzboss.a
  zboss/production/lib/cortex-m33/hard-float/libzboss.ed.a
  zboss/production/lib/cortex-m4/hard-float/libgppb.a
  zboss/production/lib/cortex-m4/hard-float/libncp-dev.a
  zboss/production/lib/cortex-m4/hard-float/libncp-dev.ed.a
  zboss/production/lib/cortex-m4/hard-float/libzboss.a
  zboss/production/lib/cortex-m4/hard-float/libzboss.ed.a
  zboss/production/src/commissioning/bdb/zdo_commissioning_bdb.c
  zboss/production/src/commissioning/legacy/zdo_commissioning_classic.c
  zboss/production/src/include/zb_g_context.h
  zboss/production/src/include/zb_nwk.h
  zboss/production/src/include/zb_nwk_nib.h
  zboss/production/src/include/zb_zdo.h
  zboss/production/src/zcl/zcl_thermostat_commands.c
  zboss/production/trace/lib/cortex-m33/hard-float/libgppb.a
  zboss/production/trace/lib/cortex-m33/hard-float/libncp-dev.a
  zboss/production/trace/lib/cortex-m33/hard-float/libncp-dev.ed.a
  zboss/production/trace/lib/cortex-m33/hard-float/libzboss.a
  zboss/production/trace/lib/cortex-m33/hard-float/libzboss.ed.a
  zboss/production/trace/lib/cortex-m4/hard-float/libgppb.a
  zboss/production/trace/lib/cortex-m4/hard-float/libncp-dev.a
  zboss/production/trace/lib/cortex-m4/hard-float/libncp-dev.ed.a
  zboss/production/trace/lib/cortex-m4/hard-float/libzboss.a
  zboss/production/trace/lib/cortex-m4/hard-float/libzboss.ed.a
Labels: doc-required

#1614 doc: Update doc versions in nrfxlib for 2.9.0
  nrf_802154/doc/CHANGELOG.rst
  nrf_modem/doc/CHANGELOG.rst
  softdevice_controller/CHANGELOG.rst
Labels: doc-required, backport v2.9-branch

#1617 [Backport v2.9-branch] doc: Documentation check for 2.9
  mpsl/doc/cx.rst
  nfc/CHANGELOG.rst
  nrf_802154/doc/CHANGELOG.rst
  nrf_modem/doc/CHANGELOG.rst
  nrf_rpc/CHANGELOG.rst
Labels: doc-required, Backport

#1609 doc: remove references to removed sample `nRF5340: Multiprotocol RPMsg`
  nrf_802154/doc/rd_limitations.rst
Labels: doc-required
