Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2025-02, with the labels that each got.

#1529 nrf_modem: Fix typo in return values in nrf_modem.h
  nrf_modem/include/nrf_modem.h
Labels: CI-trusted-author, external

#1632 Update RPU patch to rev#cfcdf187bf7
  nrf_wifi/bin/zephyr/default/nrf70.bin
  nrf_wifi/bin/zephyr/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/zephyr/radio_test/nrf70.bin
  nrf_wifi/bin/zephyr/scan_only/nrf70.bin
  nrf_wifi/bin/zephyr/system_with_raw/nrf70.bin
Labels: manifest-pr-skip

#1654 nrf_modem: doc: softsim_interface: fix typo
  nrf_modem/doc/softsim_interface.rst
Labels: doc-required
