Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2025-04, with the labels that each got.

#1697 Update revision of nrf_802154
  nrf_802154/common/include/nrf_802154.h
  nrf_802154/doc/CHANGELOG.rst
  nrf_802154/driver/src/mac_features/nrf_802154_delayed_trx.c
  nrf_802154/driver/src/mac_features/nrf_802154_delayed_trx.h
  nrf_802154/driver/src/nrf_802154.c
  nrf_802154/driver/src/nrf_802154_request.h
  nrf_802154/driver/src/nrf_802154_request_direct.c
  nrf_802154/driver/src/nrf_802154_request_swi.c
  nrf_802154/serialization/src/include/nrf_802154_spinel_datatypes.h
  nrf_802154/serialization/src/nrf_802154_spinel_app.c
  nrf_802154/serialization/src/nrf_802154_spinel_dec_app.c
  nrf_802154/serialization/src/nrf_802154_spinel_dec_net.c
Labels: doc-required

#1651 nrf_wifi: Update RPU patch to rev#68fd51abcf5
  nrf_wifi/bin/zephyr/default/nrf70.bin
  nrf_wifi/bin/zephyr/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/zephyr/radio_test/nrf70.bin
  nrf_wifi/bin/zephyr/scan_only/nrf70.bin
  nrf_wifi/bin/zephyr/system_with_raw/nrf70.bin
Labels: manifest-pr-skip

#1694 softperipheral: Add initial sQSPI
  .checkpatch.conf
  CODEOWNERS
  README.rst
  doc/links.txt
  softperipheral/README.rst
  softperipheral/include/softperipheral_meta.h
  softperipheral/include/softperipheral_regif.h
  softperipheral/sQSPI/include/hal/nrf_qspi2.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware_v0.1.0.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware_v0.1.0.h
  softperipheral/sQSPI/include/nrf_sp_qspi.h
  softperipheral/sQSPI/include/nrfx_config_qspi2.h
  softperipheral/sQSPI/include/nrfx_qspi2.h
  softperipheral/sQSPI/src/nrfx_qspi2.c
Labels: doc-required, doc-postponed

#1664 nrf_wifi: Update RPU patch to rev#cfcdf187bf7
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: manifest-pr-skip

#1705 Update NFC library
  nfc/CHANGELOG.rst
  nfc/include/nfc_platform.h
  nfc/lib/cortex-m33/hard-float/libnfc_t4t.a
  nfc/lib/cortex-m33/soft-float/libnfc_t4t.a
  nfc/lib/cortex-m4/hard-float/libnfc_t4t.a
  nfc/lib/cortex-m4/soft-float/libnfc_t4t.a
Labels: doc-required, bugfix

#1712 Update revision of nrf_802154
  nrf_802154/CMakeLists.txt
  nrf_802154/sl/sl/lib/nrf54l05_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l05_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l05_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp_ns/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp_ns/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp_ns/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp_ns/softfp-float/libnrf-802154-sl.a
Labels: backport v3.0-branch

#1713 [Backport v3.0-branch] Update revision of nrf_802154
  nrf_802154/CMakeLists.txt
  nrf_802154/sl/sl/lib/nrf54l05_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l05_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l05_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l09_cpuapp_ns/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l10_cpuapp_ns/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l15_cpuapp_ns/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp/softfp-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp_ns/hard-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp_ns/soft-float/libnrf-802154-sl.a
  nrf_802154/sl/sl/lib/nrf54l20_cpuapp_ns/softfp-float/libnrf-802154-sl.a
Labels: Backport

#1715 nrf_802154: remove extraneous parentheses as those are not needed
  nrf_802154/driver/src/mac_features/nrf_802154_delayed_trx.c
Labels: backport v3.0-branch

#1703 doc: Documentation fixes for 3.0.0
  crypto/doc/CHANGELOG_oberon.rst
  doc/links.txt
  nfc/doc/type_2_tag.rst
  nrf_fuel_gauge/CHANGELOG.rst
  nrf_modem/doc/dectphy.rst
Labels: doc-required, backport v3.0-branch

#1718 [Backport v3.0-branch] doc: Documentation fixes for 3.0.0
  crypto/doc/CHANGELOG_oberon.rst
  doc/links.txt
  nfc/doc/type_2_tag.rst
  nrf_fuel_gauge/CHANGELOG.rst
  nrf_modem/doc/dectphy.rst
Labels: doc-required, Backport

#1717 softperipheral: sQSPI bug fixes
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware_v0.1.0.h
  softperipheral/sQSPI/src/nrfx_qspi2.c
Labels: backport v3.0-branch

#1716 [Backport v3.0-branch] nrf_802154: remove extraneous parentheses as those are not needed
  nrf_802154/driver/src/mac_features/nrf_802154_delayed_trx.c
Labels: Backport

#1722 [Backport v3.0-branch] softperipheral: sQSPI bug fixes
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware_v0.1.0.h
  softperipheral/sQSPI/src/nrfx_qspi2.c
Labels: Backport

#1707 softperipheral: Documentation
  softperipheral/CHANGELOG.rst
  softperipheral/README.rst
  softperipheral/doc/images/SP_concept.svg
  softperipheral/doc/introduction.rst
  softperipheral/doc/sQSPI/CHANGELOG.rst
  softperipheral/doc/sQSPI/README.rst
  softperipheral/doc/sQSPI/api_reference_v0_1_0.rst
  softperipheral/doc/sQSPI/features.rst
  softperipheral/doc/sQSPI/images/sqspi_timing.png
  softperipheral/doc/sQSPI/images/sqspi_timing_1.png
  softperipheral/doc/sQSPI/limitations.rst
  softperipheral/doc/sQSPI/nrf54H20_porting_v0_1_0.rst
  softperipheral/doc/sQSPI/nrf54L15_porting_v0_1_0.rst
  softperipheral/doc/sQSPI/timing.rst
Labels: doc-required, backport v3.0-branch

#1710 nrf_wifi: Update RPU patch to rev#59f1a9c24bc
  nrf_wifi/bin/zephyr/default/nrf70.bin
  nrf_wifi/bin/zephyr/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/zephyr/radio_test/nrf70.bin
  nrf_wifi/bin/zephyr/scan_only/nrf70.bin
  nrf_wifi/bin/zephyr/system_with_raw/nrf70.bin
Labels: manifest-pr-skip

#1726 Update revision of nrf_802154
  nrf_802154/doc/CHANGELOG.rst
  nrf_802154/driver/src/nrf_802154_trx.c
Labels: backport v3.0-branch

#1728 [Backport v3.0-branch] Update revision of nrf_802154
  nrf_802154/doc/CHANGELOG.rst
  nrf_802154/driver/src/nrf_802154_trx.c
Labels: Backport

#1729 nrf_wifi: ncs: Sync bins with latest upstream bins
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: manifest-pr-skip, backport v3.0-branch

#1730 [Backport v3.0-branch] nrf_wifi: ncs: Sync bins with latest upstream bins
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: Backport

#1723 doc: Update doc versions in nrfxlib for 3.0.0
  nfc/CHANGELOG.rst
  nrf_802154/doc/CHANGELOG.rst
  nrf_fuel_gauge/CHANGELOG.rst
  nrf_modem/doc/CHANGELOG.rst
  softperipheral/CHANGELOG.rst
Labels: doc-required, backport v3.0-branch

#1733 [Backport v3.0-branch] doc: Update doc versions in nrfxlib for 3.0.0
  nfc/CHANGELOG.rst
  nrf_802154/doc/CHANGELOG.rst
  nrf_fuel_gauge/CHANGELOG.rst
  nrf_modem/doc/CHANGELOG.rst
  softperipheral/CHANGELOG.rst
Labels: doc-required, Backport
