Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2025-08, with the labels that each got.

#1811 softperipheral: rev c6e66aca635e9dece5992e1f9464da81e33ed6fa
  softperipheral/CHANGELOG.rst
  softperipheral/doc/introduction.rst
  softperipheral/doc/sQSPI/CHANGELOG.rst
  softperipheral/doc/sQSPI/README.rst
  softperipheral/doc/sQSPI/api_reference_v1_0_0.rst
  softperipheral/doc/sQSPI/features.rst
  softperipheral/doc/sQSPI/limitations.rst
  softperipheral/doc/sQSPI/nrf54H20_porting_v1_0_0.rst
  softperipheral/doc/sQSPI/nrf54L15_porting_v0_1_0.rst
  softperipheral/doc/sQSPI/nrf54L15_porting_v1_0_0.rst
  softperipheral/include/softperipheral_meta.h
  softperipheral/include/softperipheral_regif.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware_v0.1.0.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware_v1.0.0.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware_v0.1.0.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware_v1.0.0.h
  softperipheral/sQSPI/include/nrf_config_sqspi.h
  softperipheral/sQSPI/include/nrf_sp_qspi.h
  softperipheral/sQSPI/include/nrf_sqspi.h
  softperipheral/sQSPI/include/nrfx_config_qspi2.h
  softperipheral/sQSPI/include/nrfx_qspi2.h
  softperipheral/sQSPI/src/nrf_sqspi.c
Labels: doc-required

#1818 [Backport v3.1-branch] softperipheral: rev c6e66aca635e9dece5992e1f9464da81e33ed6fa
  softperipheral/CHANGELOG.rst
  softperipheral/doc/introduction.rst
  softperipheral/doc/sQSPI/CHANGELOG.rst
  softperipheral/doc/sQSPI/README.rst
  softperipheral/doc/sQSPI/api_reference_v1_0_0.rst
  softperipheral/doc/sQSPI/features.rst
  softperipheral/doc/sQSPI/limitations.rst
  softperipheral/doc/sQSPI/nrf54H20_porting_v1_0_0.rst
  softperipheral/doc/sQSPI/nrf54L15_porting_v0_1_0.rst
  softperipheral/doc/sQSPI/nrf54L15_porting_v1_0_0.rst
  softperipheral/include/softperipheral_meta.h
  softperipheral/include/softperipheral_regif.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware_v0.1.0.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware_v1.0.0.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware_v0.1.0.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware_v1.0.0.h
  softperipheral/sQSPI/include/nrf_config_sqspi.h
  softperipheral/sQSPI/include/nrf_sp_qspi.h
  softperipheral/sQSPI/include/nrf_sqspi.h
  softperipheral/sQSPI/include/nrfx_config_qspi2.h
  softperipheral/sQSPI/include/nrfx_qspi2.h
  softperipheral/sQSPI/src/nrf_sqspi.c
Labels: doc-required, Backport

#1822 Update revision of nrf_802154
  nrf_802154/common/include/nrf_802154.h
  nrf_802154/common/include/nrf_802154_config.h
  nrf_802154/common/include/nrf_802154_types.h
  nrf_802154/doc/CHANGELOG.rst
  nrf_802154/driver/CMakeLists.txt
  nrf_802154/driver/src/mac_features/nrf_802154_csma_ca.c
  nrf_802154/driver/src/mac_features/nrf_802154_delayed_trx.c
  nrf_802154/driver/src/mac_features/nrf_802154_tx_timestamp_provider.c
  nrf_802154/driver/src/mac_features/nrf_802154_tx_timestamp_provider.h
  nrf_802154/driver/src/nrf_802154.c
  nrf_802154/driver/src/nrf_802154_core_hooks.c
  nrf_802154/driver/src/nrf_802154_notification_swi.c
  nrf_802154/driver/src/nrf_802154_request_swi.c
  nrf_802154/driver/src/nrf_802154_swi.c
  nrf_802154/driver/src/nrf_802154_trx.c
  nrf_802154/driver/src/nrf_802154_types_internal.h
  nrf_802154/serialization/src/include/nrf_802154_spinel_datatypes.h
  nrf_802154/serialization/src/nrf_802154_spinel_app.c
  nrf_802154/sl/sl/include/nrf_802154_sl_periphs.h
  nrf_802154/sl/sl_opensource/include/nrf_802154_sl_periphs.h
  nrf_802154/zephyr/Kconfig.nrfxlib
Labels: doc-required

#1821 [Backport v3.1-branch] Update revision of nrf_802154
  nrf_802154/doc/multiprotocol_support.rst
  nrf_802154/doc/multiprotocol_switching_tables.rst
Labels: doc-required, Backport

#1825 softperipheral: rev d82cfe4cb3c86fc5523268cfc5e46b6c8b989f56
  softperipheral/CHANGELOG.rst
  softperipheral/doc/introduction.rst
  softperipheral/doc/sQSPI/CHANGELOG.rst
  softperipheral/doc/sQSPI/README.rst
  softperipheral/doc/sQSPI/api_reference.rst
  softperipheral/doc/sQSPI/display.rst
  softperipheral/doc/sQSPI/limitations.rst
  softperipheral/doc/sQSPI/nrf54H20_porting_v1_1_0.rst
  softperipheral/doc/sQSPI/nrf54L15_porting_v1_1_0.rst
  softperipheral/doc/sQSPI/timing.rst
  softperipheral/include/softperipheral_meta.h
  softperipheral/sQSPI/include/hal/nrf_qspi2.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware_v1.0.0.h
  softperipheral/sQSPI/include/nrf54h20/sqspi_firmware_v1.1.0.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware_v1.0.0.h
  softperipheral/sQSPI/include/nrf54l15/sqspi_firmware_v1.1.0.h
  softperipheral/sQSPI/include/nrf_sqspi.h
  softperipheral/sQSPI/src/nrf_sqspi.c
Labels: doc-required, bugfix, backport v3.1-branch

#1826 doc: Update doc versions in nrfxlib for 3.1.0
  mpsl/CHANGELOG.rst
  nrf_802154/doc/CHANGELOG.rst
  nrf_802154/doc/rd_service_layer_lib.rst
  nrf_modem/doc/CHANGELOG.rst
  nrf_rpc/CHANGELOG.rst
  softdevice_controller/CHANGELOG.rst
  softperipheral/doc/sQSPI/features.rst
  softperipheral/doc/sQSPI/nrf54H20_porting_v1_1_0.rst
  softperipheral/doc/sQSPI/nrf54L15_porting_v1_1_0.rst
Labels: doc-required, backport v3.1-branch

#1833 [Backport v3.1-branch] doc: Update doc versions in nrfxlib for 3.1.0
  mpsl/CHANGELOG.rst
  nrf_802154/doc/CHANGELOG.rst
  nrf_802154/doc/rd_service_layer_lib.rst
  nrf_modem/doc/CHANGELOG.rst
  nrf_rpc/CHANGELOG.rst
  softdevice_controller/CHANGELOG.rst
  softperipheral/doc/sQSPI/features.rst
  softperipheral/doc/sQSPI/nrf54H20_porting_v1_1_0.rst
  softperipheral/doc/sQSPI/nrf54L15_porting_v1_1_0.rst
Labels: doc-required, Backport
