Repository nrfconnect/sdk-nrfxlib, pull requests merged in 2025-05, with the labels that each got.

#1740 Update revision of nrf_802154
  nrf_802154/common/include/nrf_802154.h
  nrf_802154/doc/CHANGELOG.rst
  nrf_802154/driver/src/mac_features/nrf_802154_filter.c
  nrf_802154/driver/src/nrf_802154.c
  nrf_802154/driver/src/nrf_802154_pib.c
  nrf_802154/driver/src/nrf_802154_pib.h
  nrf_802154/serialization/src/include/nrf_802154_spinel_datatypes.h
  nrf_802154/serialization/src/nrf_802154_spinel_app.c
  nrf_802154/serialization/src/nrf_802154_spinel_dec_net.c
Labels: doc-required

#1744 nrf_wifi: Update RPU patch to rev#af1b5e100d8
  nrf_wifi/bin/zephyr/default/nrf70.bin
  nrf_wifi/bin/zephyr/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/zephyr/radio_test/nrf70.bin
  nrf_wifi/bin/zephyr/scan_only/nrf70.bin
  nrf_wifi/bin/zephyr/system_with_raw/nrf70.bin
Labels: manifest-pr-skip

#1752 [Backport v3.0-branch] nrf_wifi: Update RPU patch to rev#af1b5e100d8
  nrf_wifi/bin/ncs/default/nrf70.bin
  nrf_wifi/bin/ncs/offloaded_raw_tx/nrf70.bin
  nrf_wifi/bin/ncs/radio_test/nrf70.bin
  nrf_wifi/bin/ncs/scan_only/nrf70.bin
  nrf_wifi/bin/ncs/system_with_raw/nrf70.bin
Labels: Backport

#1755 doc: Updated nrfxlib docs for VALE
  gzll/doc/integration_notes.rst
  nrf_modem/doc/CHANGELOG.rst
  nrf_modem/doc/sockets/socket_options_func.rst
  softdevice_controller/CHANGELOG.rst
  softdevice_controller/doc/scheduling.rst
  softperipheral/doc/introduction.rst
Labels: doc-required
